{% extends 'base.html' %}

{% block title %}
<title>Edit Book</title>
{% endblock title %}

{% block content %}
<div class="container" style="align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;">
    <div class="card" style="width: 50rem; position: relative;">
      <div class="card-header">
          Update your book!
      </div>
      <div class="card-body" style="align-items: center; justify-content: center; display: flex;">
        <form method="post" action="">
          {% csrf_token %}
          <h1 class="h3 mb-3 font-weight-normal">Please, edit form fields</h1>
          <div class="form-group">
            <label for="inputTitle" class="sr-only">Title</label>
            {{ book_form.title }}
          </div>
          <div class="form-group">
            <label for="inputContent" class="sr-only">Content</label>
            {{ book_form.content }}
          </div>
          <div class="form-group">
            <label for="inputAuthor" class="sr-only">Author</label>
            {{ book_form.author }}
          </div>

          <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        </form>
      </div>
    </div>
</div>
{% endblock content %}